- if resource.errors.any?
  #error_explanation
    .alert.alert-info.fade.in
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :onclick => "$('error_explanation').hide();", :type => "button"} ×
      - resource.errors.full_messages.each do |msg|
        %p= msg
.row
  .col-md-6.col-md-offset-3
    .well.well-sm
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put , :class => 'form-horizontal',id:'reset-password'}) do |f|
        %fieldset
          %legend Change your password
          = f.hidden_field :reset_password_token
          .form-group
            = f.label :password, "New password" , class: "col-md-3 control-label"
            .col-sm-9
              = f.password_field :password, autofocus: true, autocomplete: "off"  , class: "form-control", placeholder: "Enter password",maxlength: 16
          .form-group
            = f.label :password_confirmation, "Confirm new password", class: "col-md-3 control-label"
            .col-sm-9
              = f.password_field :password_confirmation, autocomplete: "off" , class: "form-control", placeholder: "Confirm password" ,maxlength: 16
          .form-group
            .col-sm-offset-3.col-sm-9
              = f.submit "Change my password", class: "btn btn-primary"
          .form-group
            .col-sm-offset-3.col-sm-9
              = render "devise/shared/links"
